<header class="backdrop-blur navbar">
  <span class='hamburger cursor-pointer none-desktop'>
    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 3H14V4H2V3Z" fill="black" />
      <path d="M2 12H14V13H2V12Z" fill="black" />
      <path d="M2 6H14V7H2V6Z" fill="black" />
      <path d="M2 9H14V10H2V9Z" fill="black" />
    </svg>
  </span>
  {% if page.home %}
  <span class="text-big font-staat">L</span>
  {% else %}
  <span>{{page.title}}</span>
  {% endif %}

  <menu class="none-phone">
    {% for nav in site.data.navigation %}
    {% if page.title == nav.name %}
    <div><a class="text-secondary">{{ nav.name }}</a></div>
    {% else %}
    <div><a href="{{ nav.link | relative_url }}" class="">{{ nav.name }}</a></div>
    {% endif %}
    {% endfor %}
  </menu>
</header>

<menu type="toolbar" class="backdrop-blur w-full none-desktop" id="menu-mobile" hidden>
  <header class="backdrop-blur navbar">
    <span class='hamburger cursor-pointer'>
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 3H14V4H2V3Z" fill="black" />
        <path d="M2 12H14V13H2V12Z" fill="black" />
        <path d="M2 6H14V7H2V6Z" fill="black" />
        <path d="M2 9H14V10H2V9Z" fill="black" />
      </svg>
    </span>
    <span>Menu</span>
  </header>

  <ul class="menu-list">
    {% for nav in site.data.navigation %}
    {% if page.title == nav.name %}
    <li><a class="text-secondary pure-menu-link">{{ nav.name }}</a></li>
    {% else %}
    <li><a href="{{ nav.link | relative_url }}" class="pure-menu-link {% if page.title != 'Home' %}text-dark{% endif %}">{{ nav.name }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</menu>

<script>
  const toggleEl = (ev) => {
    const menuMobile = document.getElementById('menu-mobile');
    menuMobile.hidden = !menuMobile.hidden
  }

  document.addEventListener('DOMContentLoaded', () => {
    Array.from(document.getElementsByClassName('hamburger'))
      .forEach(el => el.addEventListener('click', toggleEl))
  })
</script>