@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.font-staat{
    font-family: 'Staatliches', cursive;
}

.text-big {
    font-size: 1.6em;
}

.text-secondary {
    color: $color-secondary !important;
}