@import 'variables';
@import 'fonts';

.navbar {
    height: 40px;
    padding: 0 20px;
    font-size: 1.1em;
    background-color: transparentize($color: $color-primary, $amount: 0.2);
    color: $color-light;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $mobile){
        justify-content: space-between;
    }

    .hamburger {
        left: 0;
        margin-left: 20px;
        display: flex;
        position: absolute;

        path {
            fill: $color-light;
        }
    }

    menu {
        gap: 3em;
        font-size: 0.9em;
        display: flex;
        
        a {
            color: transparentize($color: $color-light, $amount: 0.1);
        }
    }
}

#menu-mobile {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
}