.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.cursor-pointer {
  cursor: pointer;
}

.none-phone {
  @media screen and (max-width:$mobile) {
    display: none !important;
  }
}

.none-desktop {
  @media screen and (min-width:$mobile) {
    display: none !important;
  }
}

